<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.venusj.secondkill.mapper.GoodsMapper">


    <select id="listGoodsVo" resultType="com.venusj.secondkill.vo.GoodsVo">
        SELECT g.*, mg.miaosha_price miaoshaPrice, mg.stock_count stockCount ,mg.start_date, mg.end_date FROM `miaosha_goods` mg left join goods g on mg.goods_id=g.id
    </select>
    <select id="getGoodsVoById" resultType="com.venusj.secondkill.vo.GoodsVo">
       SELECT g.*, mg.miaosha_price miaoshaPrice, mg.stock_count stockCount ,mg.start_date, mg.end_date
        FROM `miaosha_goods` mg left join goods g on mg.goods_id=g.id
        where g.id = #{id}
    </select>
</mapper>
